* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    rgba(245, 9, 194, 0.877), 
    rgba(134, 4, 58, 0.753)),
   url(../images/pinkclouds.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
  font-size: 8px;
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.5em;
}

/* beginning of landing page image */

.footspin{
  margin-bottom: 5px;
}

.card-title{
  text-shadow: 0 0 120px #f32ca0;
  /* Clip Background Image */
  background: url(../images/strawmotion.jpg) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 40s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  letter-spacing: -2px;
  background-color: red !important;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.githubportfolio{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  text-decoration: none !important;
  border-radius: 5px;
  color:  rgb(134, 4, 58);
    background-color: transparent;
    border-color: rgb(134, 4, 58);
    margin-bottom: 1%;
    box-shadow:
    0 0 20px 5px rgba(255, 255, 255, 0.671),  /* inner white */
    0 0 40px 5px rgba(255, 0, 255, 0.555), /* middle magenta */
    0 0 50px 8px rgba(151, 6, 103, 0.678); /* outer cyan */
    font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -0.5px;
}

.githubportfolio:hover{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  text-decoration: none !important;
  border-radius: 5px;
  color: #ffffff;
    background-color: rgb(134, 4, 58);
    border-color: rgb(134, 4, 58);
    margin-bottom: 1%;
    box-shadow:
    0 0 20px 5px rgba(255, 255, 255, 0.671),  /* inner white */
    0 0 40px 5px rgba(255, 0, 255, 0.555), /* middle magenta */
    0 0 50px 8px rgba(151, 6, 103, 0.678); /* outer cyan */
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -0.5px;
}

.card {
  height: 100%;
  padding-top: 8%;
  padding-bottom: 12%;
  background-color: rgba(255, 254, 255, 0.575);
  border-radius: 5px;
}

.card-img-top {
  width: 60%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-text{
  margin: 3% auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -1px;
}

.toptop{
  background-color: rgba(255, 254, 254, 0.575);
  margin-bottom: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 11%;
  margin-right: 11%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
}

.bottombottom{
  background-color: rgba(255, 254, 255, 0.575);
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 11%;
  margin-right: 11%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  height: 80px;
  letter-spacing: -1px;
}

.bottombottomtwo{
  background-color: rgba(255, 254, 255, 0.575);
  margin-top: 6.2%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: 11%;
  margin-right: 11%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  height: 80px;
  letter-spacing: -1px;
}

.m-0.text-center.text-white{
  font-size: 20px;
  text-shadow: 0 0 120px #f32ca0;
  /* Clip Background Image */
  background: url(../images/strawmotion.jpg) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 40s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* beginning of chat box styling */

.row {
  margin-right: 2px;
  margin-left: 2px;
}


#formblock{
  float: left;
  margin-left: 11%;
  width: 300px;
  display: inline-block;
  background-color: rgba(255, 254, 254, 0.575);
  padding: 25px;
  border-radius: 5px;
}

label{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 15px !important;
}

.custom-select{
  width: 137.5%;
  color: #ff4081;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
}

.submit{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color:  rgb(134, 4, 58);
    background-color: transparent;
    border-color: rgb(134, 4, 58);
    margin-bottom: 5%;
    margin-top: 6%;
    box-shadow:
    0 0 20px 2px rgba(255, 255, 255, 0.671),  /* inner white */
    0 0 40px 1px rgba(255, 0, 255, 0.555), /* middle magenta */
    0 0 50px 2px rgba(151, 6, 103, 0.678); /* outer cyan */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: -0.5px;
}

.submit:hover{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(134, 4, 58);
  border-color: rgb(134, 4, 58);
    margin-bottom: 5%;
    margin-top: 6%;
    box-shadow:
    0 0 20px 2px rgba(255, 255, 255, 0.671),  /* inner white */
    0 0 40px 1px rgba(255, 0, 255, 0.555), /* middle magenta */
    0 0 50px 2px rgba(151, 6, 103, 0.678); /* outer cyan */
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
    transform: scale(1.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: -0.5px;
}

.btn.btn-primary{
  margin-bottom: 1%;
}


.row.text-center{
  margin-left: 10%;
  margin-right: 10%;
}

.row{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -0.5px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.chat-box {
  border-radius: 5px;
  margin-left: 54%;
  background: linear-gradient(0deg, #c41f59  00%, #ffffff 180%);
  max-width: 500px;
  height: 850px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  /*border : 1px solid #000;*/
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  box-shadow:
  0 0 30px 15px rgba(255, 255, 255, 0.671),  /* inner white */
  0 0 60px 20px rgba(255, 0, 255, 0.555), /* middle magenta */
  0 0 90px 40px rgba(151, 6, 103, 0.678); /* outer cyan */
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow: scroll;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

p {
  margin: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: #95c2fd;
  padding: 0.5em 1em;
  background: linear-gradient(40deg, rgba(255, 255, 255, 0.2) 00%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  word-wrap: break-word;
  font-size: 1em;
  margin-top: 30px;
  opacity: 0;
}

.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
}

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

.datestamp {
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  float: left;
  opacity: 0;
}

.dt-alt {
  float: right;
  clear: both;
}

.chat-control {
  padding: 1.2em;
  margin-top: 495px;
}

input.chat-input{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -0.5px;
  color: #fff !important;
}

.chat-input {
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 0.7em;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background: #752267;
  padding: 0.8em;
  padding-bottom: 2em;
  text-align: center;

}

.bubbleName{
  font-size: 12px;
  padding-top: 30px;
  display: inline;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
  
  

}

.andrew{
  font-size: 12px;
  position: absolute;
  display: inline-block;
  margin: 48px -57.5px;
  text-align: center !important;
  align-content: center !important;
  margin-top: 11%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
  padding-top: 12px;
}
.han{
  font-size: 12px;
  position: absolute;
  display: inline-block;
  margin: 48px -48px;
  text-align: center !important;
  align-content: center !important;
  margin-top: 11%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
  padding-top: 12px;
}
.mike{
  font-size: 12px;
  position: absolute;
  display: inline-block;
  margin: 48px -50px;
  text-align: center !important;
  align-content: center !important;
  margin-top: 11%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
  padding-top: 12px;
}
.zach{
  font-size: 12px;
  position: absolute;
  display: inline-block;
  margin: 48px -45px;
  text-align: center !important;
  align-content: center !important;
  margin-top: 11%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
  padding-top: 12px;
}


.user-profile {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  background: #c41f5a;
  margin: 0 8px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  margin-top: 15px;
}
.user-profile:hover {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  background: #c41f5a;
  margin: 0 8px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.user-profile:nth-child(1) {
  background-image: url(../images/andrew.jpg);
  background-position: center;
}

.user-profile:nth-child(3) {
  background-image: url(../images/Han.jpg);
  background-position: center;
}

.user-profile:nth-child(5) {
  background-image: url(../images/mike.jpg);
  background-position: center;
}

.user-profile:nth-child(7) {
  background-image: url(../images/zach.jpg);
  background-position: center;
}

.user-profile.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

a {
  color: inherit;
}

/* beginning of sticky menu code */

.menu {
  margin-top: 2%;
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #ff4081;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

a.menu-item.chat {
  background: url(../images/chat.png);
  background-position: center;
}

a.menu-item.home {
  background: url(../images/home.png);
  background-position: center;
}

.menu-item:hover {
  background: white;
  color: #ff4081;
}
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
          transform: translate3d(114.42548px, 11.48084px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
          transform: translate3d(77.18543px, 85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
          transform: translate3d(0.09158px, 114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
          transform: translate3d(-77.04956px, 85.37192px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
          transform: translate3d(-114.40705px, 11.66307px, 0);
}